{{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>

<!--    <a href="{{ path('app_persona_giuridica_index') }}">back to list</a>-->


{{ form_end(form) }}
